*{
    margin: 0px;
    padding: 0px;
}
.headerArea{
    width: 100%;
    height: 100px;
    background-color: rgb(95, 91, 91);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoSuzuki{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(163, 185, 252);
}
.item{
    display: flex;
    list-style: none;
}
.listItem{
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(163, 157, 255);
}
.listItem:hover{
    background-color: chartreuse;
    color: black;
    cursor: pointer;
}

.contantArea{
    height: 100vh;
    display: flex;
    background-color: rgb(48, 46, 46);
    color: wheat;
    justify-content: space-around;
    align-items: center;
}
.articalArea{
    width: 400px;
    margin-left: 100px;
    padding: 15px;
    
}
.suzukiLetter{
    font-size: 40px;
    color: aqua;
    
}
.lorem{
    font-size: 20px;
    color: #f5f5f5;
}
.btn{
    font-size: 40px;
    padding: 10px;
    border-style: none;
    margin-top: 15px;
    background-color: red;
    color: white;
    border-radius:10px ;
}
.btn:hover{
    background-color: cyan;
    color: black;
    cursor: pointer;
}
.aboutus{
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}
.aboutArea{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
}
.aboutText p{
    font-size: 30px;
    width: 500px;
    
}
.want{
    font-size: 50px;
    width: 400px;
    font-weight: bolder;
}
.aboutBtn{
    padding: 5px 40px;
    font-weight: bolder;
}
.boxArea{
    height: 100vh;
    background-color: rgb(26 26 26);

    
}
.boxModel{
    width: 200px;
    height: 300px;
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
    background-color: rgb(88, 87, 87);
    margin-top: 100px;
    color: #f5f5f5;
    box-shadow: 5px 3px 10px rgb(214, 210, 210);
    padding: 30px;
    border-radius: 15px;
}
.boxlogo{
    width: 200px;
    height: 75px;
    color: #000000;
    
}
.boxh1{
    text-align: center;
    margin-top: 50px;
    color: rgb(245, 245, 245);
    font-size: 80px;
    font-weight: bolder;
}
.red{
    color: red;
}
.chartBtn{
    font-size: 25px;
    padding: 5px 45px;
    border: none;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(255, 123, 0);
}
.boxModelArea{
    display: flex;
    justify-content: space-around;
}
